---
# Only the main Sass file needs front matter (the dashes are enough)
---
a:visited,
a:link {
    color: #e91e63;
}
.brand-logo {
    font-weight: 300;
}
.front-page-greeting {
    background-color: transparentize(white, .4);

    h5 {
        font-weight: 300;
    }
}

.what-we-do {
    i {
        font-size: 120%;
    }
    ul li {
        list-style-position: inside;
        list-style-type: circle;
        font-weight: 300;
    }
}

footer p {
    font-weight: 200;
}

.footer-icon {
    font-size: 110%;
}
