<footer class="page-footer purple">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">Company Bio</h6>
                <p class="grey-text text-lighten-4">
                    Savalera Kft. was established in 2013 by experienced professionals.
                </p>
                <p class="grey-text text-lighten-4">
                    The vision behind Savalera is to embrace the digital revolution and use our skills and knowledge to help creative companies launch digital products and services.
                <p>
                <h6 class="white-text">Company info</h6>
                <p class="grey-text text-lighten-4">Register number: 01-09-172571</p>
                <p class="grey-text text-lighten-4">EU VAT number: HU 24332183</p>                

            </div>
            <div class="col l3 s12">
                <p class="grey-text text-lighten-4">
                    <a href="/terms-of-service">Terms of service</a>
                </p>
                <p class="grey-text text-lighten-4">
                    <a href="/privacy-policy">Privacy policy</a>
                </p>
                <p class="grey-text text-lighten-4">
                    <a href="/cookie-settings">Cookie settings</a>
                </p>                
            </div>
            <div class="col l3 s12">
                <h6 class="white-text"><i class="material-icons footer-icon">room</i> Address</h6>
                <p class="grey-text text-lighten-4">Nr. 8 Toberek u. Budapest, Hungary 1112</p>
                <h6 class="white-text"><i class="material-icons footer-icon">call</i> Phone</h6>
                <p class="grey-text text-lighten-4">+3630 221 3723</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2013 - {{ site.time | date: "%Y" }} Savalera Kft.
        </div>
    </div>
</footer>
